body {
  font-family: "Helvetica"; sans-serif;
}

.nyc {
  text-align: center;
  background-image: url(../assets/flatiron.jpg);
  color: white;
}

h1 {
  font-size: 70px;
  font-weight:bold;
  }

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.navlink {
    font-size: 18px;
    color: white;
    font-weight: normal;
  }
.support {
  text-align: center;
}

.footer {
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
